body{
    background-image: url('../imagen/menuBG.jpg');
    background-size: 100%;
    background-attachment: scroll;
}

.menu{
    position: fixed;
    top: 25%;
    right: 32%;
    width: 35%;
    height: 50%;
    border-radius: 25px;
    color: white;
}

.menu::before{
    content: "";
    position: fixed;
    top: 25%;
    right: 32%;
    width: 35%;
    height: 50%;
    background-color: #3d3a36;
    border-radius: 25px;
    opacity: 0.7;
    z-index: -1;
}

.logo{
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(238, 238, 238);
    filter: blur(10px);
    z-index: -1;
}

.logo img{
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
}